.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.addproductmodal {
  display: flex;
  width: 460px;
  height: 448px;
  border: none;
  border-radius: 30px;
  background-color: rgb(204, 54, 54);
  box-sizing: border-box;
}
.addproductmodal form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: fixed;
  right: 0px;
  top: 240px;
  gap: 10px;
}
.addproductmodal form input {
  direction: rtl;
  margin: auto;
  width: 398px;
  height: 42px;
  border: none;
  border-radius: 15px;
  background-color: rgba(242, 242, 242, 1);
  box-sizing: border-box;
  padding: 22px 15px 22px 15px;
}
.buttongroup {
  position: fixed;
 top: 500px;
  display: flex;
  justify-content: center;
  gap: 20px; /* فاصله بین دکمه‌ها */
  margin-top: 16px;
}
.buttongroup button {
  width: 185px;
  height: 42px;
  border-radius: 10px;
  border: none;
  padding: 10px;
}
