.searchcontainer {
  display: flex;
  margin: auto;
  width: 1140px;
  height: 68px;
  border: 1px solid rgba(228, 228, 228, 1);
  border-radius: 16px;
  direction: rtl;
  overflow: hidden;
}
.search {
  display: flex;
  width: 60%;
  height: 100%;
}
.search form {
  display: inline;
  box-sizing: border-box;
  width: 100%;
  height: 68px;
}
.search form input {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 48px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  direction: rtl;
  border: none;
}
.user {
  display: flex;
  width: 40%;
  height: 100%;
}
.user div {
  display: flex;
  margin-right: 290px;
  margin-top: 8px;
  width: 145px;
  height: 52px;
  padding-right: 10px;
  border-right: 1px solid rgba(228, 228, 228, 1);
}
.title {
  width: 1140px;
  display: flex;
  position: relative;
  top: 20px;
  margin: auto;
  justify-content: space-between;
  padding: 10px;
}
.title button {
  height: 45px;
  width: 132px;
  border: none;
  border-radius: 10px;
  background-color: rgba(85, 163, 240, 1);
  color: azure;
}
.tabel {
  direction: rtl;
  border-collapse: separate;
  border-spacing: 20px;
  margin: auto;
  margin-top: 20px;
  width: 1140px;
  height: auto;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
}
.tabel thead {
  border-collapse: separate;
  border-spacing: 20px;
  align-items: flex-start;
  width: 1140px;
  height: 70px;
  display: flex;
  box-sizing: border-box;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 30px 30px 0 0;
}
thead tr , tbody tr {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin-top: 25px;
}
th , td{
  
  text-align: center;
}
