.searchcontainer {
  display: flex;
  margin: auto;
  width: 1140px;
  height: 68px;
  border: 1px solid rgba(228, 228, 228, 1);
  border-radius: 16px;
  direction: rtl;
  overflow: hidden;
}
.search {
  display: flex;
  width: 60%;
  height: 100%;
}
.search form {
  display: inline;
  box-sizing: border-box;
  width: 100%;
  height: 68px;
}
.search form input {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: 48px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  box-sizing: border-box;
  direction: rtl;
  border: none;
}
.user {
  display: flex;
  width: 40%;
  height: 100%;
  border-right: 1px solid rgba(228, 228, 228, 1);
}
.user div{
  display: flex;
  margin-right: 250px;
  margin-top: 8px;
  width: 145px;
  height: 52px;
  
}
.title{
  width: 1140px;
  display: flex;
  position: relative;
  top: 20px;
  margin: auto;
  justify-content: space-between;
  padding: 10px;

}
.title button{
  height: 45px;
  width: 132px;
  border: none;
  border-radius: 10px;
  background-color: rgba(85, 163, 240, 1);
  color: azure;
}
