.container{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 30px;

}
.container h1{
    margin: auto;
}
.icon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-left: 30px;
}
.icons{
    width: 24px;
    height: 24px;
    margin-top: 3px;
}