.modalcontainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: 460px;
  height: auto;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(228, 228, 228, 1);
  border-radius: 40px;
  padding: 10px;
  box-sizing: border-box;
}
.modal img {
  margin-top: 51px;
  margin-left: 195px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  margin-top: 118px;
}
.form input {
  direction: rtl;
  margin: auto;
  width: 400px;
  height: 53px;
  border: none;
  border-radius: 15px;
  background-color: rgba(242, 242, 242, 1);
  box-sizing: border-box;
  padding: 22px 15px 22px 15px;
}
.form button {
  width: 400px;
  height: 53px;
  margin: auto;
  border: none;
  border-radius: 15px;
  background-color: rgba(85, 163, 240, 1);
  color: rgba(255, 255, 255, 1);
  padding: 10px;
  margin-top: 30px;
  box-sizing: border-box;
  cursor: pointer;
}
.modal p {
  direction: rtl;
  margin-right: 28px;
  color: rgba(58, 139, 237, 1);
}
.modal h1 {
  margin-left: 179px;
}
